<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Hyva\CompatModuleFallback\Model\CompatModuleRegistry">
        <arguments>
            <argument name="compatModules" xsi:type="array">
                <item name="hyva-magento2-snowdog-inpost" xsi:type="array">
                    <item name="original_module" xsi:type="string">Smartmage_Inpost</item>
                    <item name="compat_module" xsi:type="string">Snowdog_HyvaCheckoutInpost</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Hyva\Checkout\Model\Magewire\Payment\PlaceOrderServiceInterface">
        <plugin name="removePickupPointIfNotUsingInPost"
                type="Snowdog\Hyva\Checkout\Inpost\Plugin\RemovePickupPoint"/>
    </type>
</config>
